@charset "utf-8";
/* CSS Document */
body
{
	font: "Trebuchet MS", Verdana, sans-serif;
	background-color: #000066;
	color: #000000;
}

#main 
{
padding: 20px;
background-color: #ffffff;
border-radius: 0 4px 4px 4px;
}

h1
{
	font: Georgia, serif;
	border-bottom: 3px solid #FFFFFF;
	color: #000000;
}

ul#nav
{
padding: 0px;
position: relative;
margin: 0;
}

ul#nav li
{
	display: inline;
	right: auto;
}

ul#nav li a 
{
background-color: #ffffff;
padding: 10px 20px;
text-decoration: none;
line-height: 2.8em;
color: #034af3;
border-radius: 4px 4px 0 0;
}

div#login
{
	alignment-adjust:;
}


ul#nav li a:hover
{
	background-color: #000000;
}

.warning
{
	color:red;
}
#login {
	position: relative;
	height: auto;
	width: auto;
	right: auto;
}
